/* banner-section */
.banner {
    display: flex;
}

.text-align-left {
    padding-left: 10%;
}

.link-button {
    margin-left: 10%;
    padding: 5%;
    background-color: crimson;
    border: none;
    border-radius: 5px;
}

.banner-design {
    background-color: black;
    border-radius: 5PX;
    margin: auto;
    width: 50%;
    color: azure;
}

/* lefe-side */
.left-side {
    background-color: black;
    width: 15em;
    height: 200px;
    margin-top: 20px;
    border-radius: 5px;
}

.side-button-group {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 10%;
}

.side-button {
    padding: 5%;
    margin: 10%;
    width: 150px;
}